:root
  --main: #572932
  --main-offset: color(var(--main) lightness(+8%))
  --shadow: 2px 2px 10px 2px gray(0%, 25%)
  --card-corner: 3px
  --button-corner: 4px
  --button-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4)
  --button-shadow-emphasis: 1.5px 1.5px 5px 1px rgba(0, 0, 0, 0.4)
  --ease: all 0.3s ease
