@import 'css/_variables.sss'
@import 'css/_global.sss'

@import 'components/header.sss'
@import 'components/class-card.sss'
@import 'components/class-description.sss'
@import 'components/class-header.sss'
@import 'components/heading.sss'
@import 'components/skill-card.sss'
@import 'components/skill-list.sss'

@import 'pages/class-level.sss'
