.g-button
  display: inline-block
  background: var(--main)
  color: white
  padding: 9px 11px
  text-decoration: none
  text-align: center
  border-radius: var(--button-corner)
  box-shadow: var(--button-shadow)
  transition: var(--ease)

  &:focus, &:hover
    background-color: var(--main-offset)
    box-shadow: var(--button-shadow-emphasis)
    outline: none
