.g-class-card
  margin: 40px auto
  display: block
  width: 300px
  text-align: center
  box-shadow: var(--shadow)
  border-radius: var(--card-corner)
  color: black
  text-decoration: none
  overflow: hidden
  
  & h2
    padding: 20px
    margin: 0

  & img
    width: 100%
    height: auto
    display: block