.g-full-hero
  background-color: gray(30%)
  width: 100%
  height: 100vh
  position: fixed
  top: 0
  z-index: -1
  background-size: cover
  background-position: center
  color: white
  display: flex
  flex-direction: column
  justify-content: center

  & h1
    margin: 0
    text-align: center
    font-size: 3em

  & .text
    margin: 20px auto
    padding: 0 40px
    max-width: 600px
    width: 100%
    text-align: center
    font-size: 1.2em

  & .g-button
    margin: 0 auto
