.g-project-card
  width: 250px
  list-style-type: none
  background: gray(95%)
  border-radius: var(--card-corner)
  box-shadow: var(--shadow)
  margin: 15px
  overflow: hidden

  & img
    display: block
