.g-skill-card
  background: gray(95%)
  display: flex
  border-radius: var(--card-corner)
  margin: 50px auto
  box-shadow: var(--shadow)
  width: 600px
  overflow: hidden
  justify-content: center

  @media screen and (width <= 620px)
    flex-wrap: wrap
    width: 300px

  & div
    height: 100%
    width: 100%
    max-width: 300px

  & h3, & p
    margin: 15px
